In [1]:
import numpy as np
from sklearn.linear_model import LogisticRegression
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import (auc, average_precision_score, confusion_matrix,
                             jaccard_similarity_score, precision_recall_curve,
                             roc_curve, accuracy_score)
from sklearn.linear_model import LogisticRegression

In [4]:
df_train =  pd.read_csv("C:/Users/user/Desktop/review_datascience/train_preprocessed.csv")
df_train = df_train.drop(df_train.columns[[0]], axis=1)
df_train.head()

   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         0       3    male  0.271174      1      0 -0.502163        S
1         1       1  female  0.472229      1      0  0.786404        C
2         1       3  female  0.321438      0      0 -0.488580        S
3         1       1  female  0.434531      1      0  0.420494        S
4         0       3    male  0.434531      0      0 -0.486064        S

In [5]:
df_train.replace(('male','female'),(1,0),inplace=True)
df_train.replace(('S','C','Q'),(0,1,2),inplace=True)
df_train.head()

   Survived  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         0       3    1  0.271174      1      0 -0.502163         0
1         1       1    0  0.472229      1      0  0.786404         1
2         1       3    0  0.321438      0      0 -0.488580         0
3         1       1    0  0.434531      1      0  0.420494         0
4         0       3    1  0.434531      0      0 -0.486064         0

In [6]:
X_train = df_train[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare",
        "Embarked"]]
Y_train = df_train[["Survived"]]

In [8]:
logreg = LogisticRegression()

In [9]:
logreg.fit(X_train, Y_train)

C:\Users\user\Anaconda3\envs\ML\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\envs\ML\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
df_test =  pd.read_csv("C:/Users/user/Desktop/review_datascience/test_preprocessed.csv")
df_test = df_test.drop(df_test.columns[[0]], axis=1)
df_test.replace(('male','female'),(1,0),inplace=True)
df_test.replace(('S','C','Q'),(0,1,2),inplace=True)
df_test.fillna(0, inplace=True)
df_test.head()

   Pclass  Sex       Age  SibSp  Parch      Fare  Embarked  Survived
0       3    1  0.452723      0      0 -0.497213         2         0
1       3    0  0.617566      1      0 -0.512045         0         1
2       2    1  0.815377      0      0 -0.463974         2         0
3       3    1  0.353818      0      0 -0.482308         0         0
4       3    0  0.287881      1      1 -0.417469         0         1

In [21]:
X_test = df_test[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare",
        "Embarked"]]
Y_test = df_test[["Survived"]]

In [22]:
test_label = logreg.predict(X_test)

In [24]:
print("ACC ＝", accuracy_score(Y_test, test_label))

ACC ＝ 0.9473684210526315

In [29]:
from sklearn.ensemble import RandomForestClassifier

rfc= RandomForestClassifier(random_state=1)
rfc.fit(X_train, Y_train)

test_label2 = rfc.predict(X_test)
print("ACC ＝", accuracy_score(Y_test, test_label2))

ACC ＝ 0.8229665071770335

C:\Users\user\Anaconda3\envs\ML\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
C:\Users\user\Anaconda3\envs\ML\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

In [31]:
from sklearn.tree import DecisionTreeClassifier

dtc= DecisionTreeClassifier(random_state=1)
dtc.fit(X_train, Y_train)
test_label3 = dtc.predict(X_test)
print("ACC ＝", accuracy_score(Y_test, test_label3))

ACC ＝ 0.6483253588516746

In [32]:
from sklearn import svm
svm = svm.SVC(kernel='linear', C=1)
svm.fit(X_train, Y_train)
test_label4 = svm.predict(X_test)
print("ACC ＝", accuracy_score(Y_test, test_label4))

ACC ＝ 1.0

C:\Users\user\Anaconda3\envs\ML\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [33]:
#HOORAY WE GOT PERFECT MODEL
prediction_df = pd.DataFrame(test_label4)

In [34]:
prediction_df.head()

   0
0  0
1  1
2  0
3  0
4  1

In [36]:
prediction_df.to_csv('C:/Users/user/Desktop/review_datascience/submit.csv')